.container{
  width: 450px; 
  padding-top:50px; 
}

 #hairleft{
 transform: translate(-18) rotate(-15 50 30);
  animation: rotation 1s infinite alternate ease-in-out; 

}

@keyframe rotation{ from{}

}